# Use postgres/example user/password credentials

services:

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: example
      POSTGRES_USER: user    
      POSTGRES_DB: db
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - 5432:5432 
    expose:
      - 5432

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
volumes:
  postgres_data:
  