@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: #9761b8;
  --color-primary-hover: #8354a1;
  --color-title: #1a1a1a;
  --font-heading: var(--font-vend-sans);
  --font-body: var(--font-geist-sans);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ring: #9761b8;
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
}

:root {
  --background: oklch(0.9851 0 0); 
  --radius: 0.625rem;
  --card: oklch(0.99 0.003 318.23);
  --popover: oklch(0.99 0.003 318.23);
  --foreground: oklch(0.25 0.02 318.23);
  --card-foreground: oklch(0.25 0.02 318.23);
  --popover-foreground: oklch(0.25 0.02 318.23);
  --title-color: oklch(0.20 0.03 318.23);
  --primary: oklch(0.6211 0.2719 318.23); 
  --primary-foreground: oklch(0.99 0.01 318.23);
  --secondary: oklch(0.94 0.015 318.23);
  --secondary-foreground: oklch(0.35 0.05 318.23);
  --muted: oklch(0.96 0.01 318.23);
  --muted-foreground: oklch(0.50 0.03 318.23);
  --accent: oklch(0.94 0.02 318.23);
  --accent-foreground: oklch(0.30 0.10 318.23);
  /* --- DIVERS --- */
  --destructive: oklch(0.60 0.18 25);
  --sidebar: oklch(0.98 0.005 318.23);
}
@layer base {
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
     @apply font-heading text-title;
  }
  h1 {
    @apply text-3xl sm:text-4xl lg:text-5xl font-extrabold tracking-tight;
  }

  h2 {
    @apply text-2xl sm:text-3xl font-semibold tracking-tight;
  }
  h3 {
    @apply text-xl sm:text-2xl font-semibold tracking-tight;
  }

}
